.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: auto;
}

.leftContainer {
  width: 50vw;
  background-color: white;
  padding: 20px 30px;
  margin: 0px 10px;
  overflow-y: auto;
  display: flex; /* Make leftContainer a flex container */
  flex-direction: column; /* Arrange items within leftContainer vertically */
  position: relative; /* Establish positioning context for children */
}


.modelContainer {
  display: flex;
  width: 50vw;
  height: 100vh;
  background-color: #242424;;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: calc(50vw + 40px);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 2;
}

.startBtn {
  position: absolute;
  z-index: 3;
  background-color: white;
  color: black;
  margin-top: 50vh;

  border-radius: 20px;
  padding: 1.5vh 2vw;
  cursor: pointer;
}

.backBtn {
  color: black;
  background-color: gray;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  left: 40px;
  padding: 6px 12px;
  position: absolute;
}

.submitBtn {
  color: black;
  background: steelblue;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  right: 40px;
  padding: 6px 12px;
  position: absolute;
}

.startNowBtn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: steelblue;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.countdown-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.75);
  color: white;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  z-index: 999;
  text-align: center;
}